h1{
    color: #0088CC;
}
h2{
    color: #7cad57;
    font-size: 20px;
}

.labelSvt{
    width: 100px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    float: left;
}
.fieldSvt{
    width: 200px;
    height: 35px;
    line-height: 35px;
    float: left;
}

.css-vertical-text {
    position          : absolute;
    left              : 5px;
    bottom            : 5px;
    color             : #0088CC;
    border            : 0px solid red;
    writing-mode      : tb-rl;
    -webkit-transform : rotate(270deg);
    -moz-transform    : rotate(270deg);
    -o-transform      : rotate(270deg);
    white-space       : nowrap;
    display           : block;
    width             : 20px;
    height            : 50px;
    font-size         : 25px;
    font-family       : 'Tulpen One', cursive;
    font-weight       : bold;
    font-size         : 35px;
    /*text-shadow       : -2px 2px 1px rgba(0, 0, 0, 0.25);*/

    /*text-shadow: 0px 0px 1px #333;*/
}

.vertical-container {
    border-bottom : 1px solid black;
    padding-left  : 50px;
    position      : relative;
}

.titulo-azul {
    /* Antes conocido como titulo chevere */
    color       : #0088CC;
    border      : 0px solid red;
    white-space : nowrap;
    display     : block;
    width       : 98%;
    height      : 30px;
    font-family : 'open sans condensed';
    font-weight : bold;
    font-size   : 25px;
    /*text-shadow : -2px 2px 1px rgba(0, 0, 0, 0.25);*/
    margin-top  : 10px;
    line-height : 20px;

    /*text-shadow: 0px 0px 1px #333;*/
}

/*.negrilla-puntos:after{*/
/*content: ":";*/
/*position: absolute;*/
/*right: 0;*/
/*}*/

.titulo-horizontal {
    padding-bottom : 10px;
    border-bottom  : 1px solid #000000;
    text-align     : center;
    width          : 105%;
}

.row-low-margin-top {
    margin-top : 0 !important;
}

.linea {
    position    : absolute;
    left        : 30px;
    bottom      : 5px;
    width       : 1px;
    border-left : 1px solid #0088CC;
    height      : 95%;

}

.negrilla {
    font-weight : bold;
}

.label-azul {
    color       : #0061CC;
    font-family : 'open sans condensed';
    font-weight : bold;
    font-size   : 14px;
    /*text-shadow : -2px 2px 1px rgba(0, 0, 0, 0.25);*/
    line-height : 14px;

}

.label-shared {
    width       : auto;
    display     : inline;
    font-weight : normal;
}

.row {
    margin-top : 15px;
}

.btn-azul {
    /*background  : #0088CC;*/
    /*color       : white;*/
    /*font-weight : bold;*/
    background-color       : hsl(201, 100%, 35%) !important;
    background-repeat      : repeat-x;
    filter                 : progid:DXImageTransform.Microsoft.gradient(startColorstr="#19aeff", endColorstr="#0074b2");
    background-image       : -khtml-gradient(linear, left top, left bottom, from(#19aeff), to(#0074b2));
    background-image       : -moz-linear-gradient(top, #19aeff, #0074b2);
    background-image       : -ms-linear-gradient(top, #19aeff, #0074b2);
    background-image       : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19aeff), color-stop(100%, #0074b2));
    background-image       : -webkit-linear-gradient(top, #19aeff, #0074b2);
    background-image       : -o-linear-gradient(top, #19aeff, #0074b2);
    background-image       : linear-gradient(#19aeff, #0074b2);
    border-color           : #0074b2 #0074b2 hsl(201, 100%, 30%);
    color                  : #fff !important;
    text-shadow            : 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing : antialiased;
}

.btn-azul:hover {
    background-position : 0 -5px;
    color               : #333333;
    text-decoration     : none;
}

.btn-azul.btn-lg:hover {
    background-position : 0 -10px;
}

.btn-azul.btn-sm:hover {
    background-position : 0 -5px;
}

.btn-azul.btn-xs:hover {
    background-position : 0 -3px;
}

/*a.btn-azul:hover {*/
/*background  : #327BbA;*/
/*color       : #ffffff;*/
/*border      : 1px solid #327BbA;*/
/*text-shadow : -2px 2px 1px rgba(0, 0, 0, 0.25);*/
/*}*/
.modalTabelGray {
    position         : absolute;
    width            : 100%;
    height           : 100%;
    background-color : #000000;
    filter           : alpha(opacity=60);
    opacity          : 0.6;
    -moz-opacity     : 0.6;
    z-index          : 1060;
    margin-top       : -70px;
    display          : none;
    text-align       : center;
    vertical-align   : middle;
}

